.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
pubspec.lock
*.iml
*.log
*.hprof
.idea/
.vscode/
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
ios/Pods/
ios/.symlinks/
*.apk
*.aab
